@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.prose h2 a,
.prose h3 a,
.prose h4 a {
  @apply no-underline relative;
}

.prose h2 a::before,
.prose h3 a::before,
.prose h4 a::before {
  @apply absolute -left-4 text-zinc-300 opacity-0 transition-opacity;
  content: '#';
}

.prose h2 a:hover::before,
.prose h3 a:hover::before,
.prose h4 a:hover::before {
  @apply opacity-100;
}

.prose a {
  text-decoration-color: theme(colors.zinc.500) !important;
  text-underline-offset: 0.1em;
  transition: text-underline-offset 300ms;
}

.prose a:hover {
  text-decoration-color: theme(colors.zinc.800) !important;
  text-underline-offset: 0.15em;
  transition: text-underline-offset 200ms;
}

#blur-bar {
  @apply w-full h-20 fixed top-0 gradient-mask-b-0 backdrop-blur bg-white/50 pointer-events-none select-none z-10;
}

#blur-bar::after {
  @apply absolute h-full w-full content-[""] bg-gradient-to-b from-white/80 to-transparent;
}
